/*===========================================================================================
        Globals
=============================================================================================*/
* {
  box-sizing: border-box;
}

:root {
  --bg-dark: #02070D;
  --darkgray: #071226;
  --darkblue: #363E59;
  --clr-primary: #A66A74;
  --orange: #D99D8F;
  --txt-primary: #FFFFFF;
  --txt-default: #E2E2E2;

  --content-padding: 8.75rem;
}

/*===========================================================================================
        Font Definitions
=============================================================================================*/
h1, h2, h3, h4, h5, h6, p, span, li, button, a {
  font-family: 'futura-pt', sans-serif;
  color: var(--txt-default);
}

a {
  text-decoration: none;
}

h1, h2 {
  font-weight: 500;
  font-size: 7.563rem;
  letter-spacing: 0.06em;
  color: var(--txt-primary);
  text-transform: uppercase;
  margin-bottom: 2.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

h1::after, h2::after {
  content: '';
  width: 60%;
  height: 0.5rem;
  background-color: var(--clr-primary);
}

h5 {
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 0.15em;
  line-height: 1.292;
  text-transform: uppercase;
  color: var(--clr-primary);
}

.text-xs-bold, .logo {
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 0.08em;
  line-height: 1.292;
}

.text-lg-light {
  font-weight: 300;
  font-size: 2.25rem;
  letter-spacing: 0.028em;
  line-height: 1.278;
}

/*===========================================================================================
        Helper
=============================================================================================*/
.mobile-only {
  display: none;
}

/*===========================================================================================
        Background
=============================================================================================*/
body {
  background-color: var(--bg-dark);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stars {
  --x: 0;
  --y: 0;
  transform: translate(var(--x), var(--y));
  position: fixed;
  overflow: visible;
  width: 100%;
  height: 100%;
  user-select: none;
  pointer-events: none;
}

.planet {
  --x: 0px;
  --y: 0px;
  position: fixed;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  opacity: 0;
}

/*========================= Planet Blue ========================= */
.planet__blue {
  width: clamp(700vw, 800vw, 1000vw);
  min-width: 31.25rem;
  max-width: 47vw;
  background-color: #363E59;
  top: calc(max(-20vh, calc(-20vh + ((1200px - 100vw) * 0.15))) + var(--y));
  left: calc(min(10vw, calc(-60vw + (100vw - 375px))) + var(--x));

  animation: planetBlueSlideIn;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.59,.24,.4,1);
}

@keyframes planetBlueSlideIn {
  from {
    transform: translate(70%);
  }

  to {
    opacity: 50%;
    transform: translate(0);
  }
}

/*========================= Planet Orange ========================= */
.planet__orange {
  width: clamp(31.25rem, 60vw, 37.5rem);
  background-color: #D89D8F;
  top: calc(-23.75rem + var(--y));
  right: calc(-21.875rem - var(--x));

  animation: planetOrangeSlideIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.59,.24,.4,1);
}

@keyframes planetOrangeSlideIn {
  from {
    transform: translateX(100%);
  }

  to {
    opacity: 50%;
    transform: translateX(0);
  }
}

/*========================= Planet Red ========================= */
.planet__red {
  background-color: #A66A74;
  width: clamp(62.5rem, 150vw, 80rem);
  bottom: calc(-56.25rem - var(--y));
  right: calc(-18.75rem - var(--x));

  animation: planetRedSlideIn;
  animation-duration: 1s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.59,.24,.4,1);

  transform: translate(50%);
}

@keyframes planetRedSlideIn {
  from {
    transform: translateX(50%);
  }

  to {
    opacity: 50%;
    transform: translateX(0);
  }
}

/*===========================================================================================
        Header
=============================================================================================*/
header {
  margin: 0 var(--content-padding);
  padding: 2.5rem 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 2.875rem;
}

.nav-element {
  padding: 0.5rem;
  display: flex;
}

.logo {
  padding: 0.5rem 0.5rem 0.5rem 0;
}

#menu-icon {
  aspect-ratio: 1 / 1;
  border: none;
  background: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

#menu-icon svg rect {
  transition: all 0.2s ease-out;
}

#menu-icon:hover svg rect {
  width: 100%;
}

/*===========================================================================================
        Hero Section
=============================================================================================*/
.hero {
  margin: 0 var(--content-padding);
  width: fit-content;
  position: relative;
  overflow: hidden;
}

.hero * {
  transform: translateX(-100%);
}

.hero h5 {
  animation: heroSlideIn;
  animation-duration: 1s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.59,.24,.4,1);
}

.hero h1 {
  animation: heroSlideIn;
  animation-duration: 0.8s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.59,.24,.4,1);
}

.hero p {
  animation: heroSlideIn;
  animation-duration: 0.8s;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.59,.24,.4,1);
}

@keyframes heroSlideIn {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

/*===========================================================================================
        Scroll Down CTA
=============================================================================================*/
.scroll-down {
  margin-bottom: 5.625rem;
  width: 12.5rem;
  height: 2.25rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  gap: 0.5rem;
  cursor: pointer;
}

.scroll-down span {
  position: relative;
}

.scroll-down__background {
  position: absolute;
  width: 150%;
  height: 100%;
  background-color: var(--clr-primary);
  transition: 500ms cubic-bezier(.59,.24,.4,1);
  transform: translateX(-3.375rem);
}

.scroll-down:hover .scroll-down__background {
  transform: translateX(1.25rem);
}

/*===========================================================================================
        Media Query
=============================================================================================*/
@media screen and (max-width: 1300px) {
  .mobile-only {
    display: block;
  }

  nav {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transform: translateY(-100%);
    overflow: hidden;
  }

  .menu-open {
    transition: transform 0.5s cubic-bezier(.72,.04,.34,1.01);
    transform: translateY(0);
  }

  nav ul {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background: linear-gradient(0deg, var(--darkgray), var(--darkblue));
    padding: 2rem;
    gap: 0;
  }

  nav ul li {
    width: 100%;
    text-align: center;
  }

  nav .nav-element {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 3.5rem;
    text-align: center;
  }

  .scroll-down {
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 1000px) {
  :root {
    --content-padding: 6rem;
  }
}

@media screen and (max-width: 750px) {
  :root {
    --content-padding: 2.5rem;
  }

  /*========================= Fonts ========================= */
  h1, h2 {
    font-size: 6.5rem;
    margin-bottom: 2rem;
    gap: 0.625rem;
  }

  h1::after, h2::after {
    width: 60%;
    height: 0.4rem;
  }

  h5 {
    font-size: 1rem;
  }

  .text-xs-bold {
    font-size: 1rem;
  }

  .text-lg-light {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 500px) {
  h1, h2 {
    font-size: 5.063rem;
  }

  .text-lg-light {
    font-size: 1.5rem;
  }
}

/*@media screen and (max-width: 800px) {*/
/*  #menu-icon {*/
/*    position: fixed;*/
/*    bottom: 0;*/
/*    left: 50%;*/
/*    transform: translateX(-50%);*/
/*  }*/

/*  nav {*/
/*    transform: translateY(100%);*/
/*  }*/
/*}*/





