/*===========================================================================================
        Globals
=============================================================================================*/
* {
  box-sizing: border-box;
}

:root {
  --bg-dark: #02070D;
  --darkgray: #071226;
  --darkblue: #363E59;
  --clr-primary: #A66A74;
  --orange: #D99D8F;
  --txt-primary: #FFFFFF;
  --txt-default: #E2E2E2;

  --content-padding: 8.75rem;
}

/*===========================================================================================
        Font Definitions
=============================================================================================*/
h1, h2, h3, h4, h5, h6, p, span, li, button, a {
  font-family: 'futura-pt', sans-serif;
  color: var(--txt-default);
}

a {
  text-decoration: none;
}

h1, h2 {
  font-weight: 500;
  font-size: clamp(3.375rem, 10vw, 7.563rem);
  letter-spacing: 0.06em;
  color: var(--txt-primary);
  text-transform: uppercase;
  margin-bottom: 0.35em;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

h1::after, h2::after {
  content: '';
  width: 60%;
  height: 0.07em;
  background-color: var(--clr-primary);
}

h5 {
  font-weight: 500;
  font-size: clamp(0.75rem, 2.5vw, 1.5rem);
  letter-spacing: 0.15em;
  line-height: 1.292;
  text-transform: uppercase;
  color: var(--clr-primary);
}

.text-xs-bold, .logo {
  font-weight: 500;
  font-size: clamp(1rem, 5vw, 1.5rem);
  letter-spacing: 0.08em;
  line-height: 1.292;
}

.text-lg-light {
  font-weight: 300;
  font-size: clamp(1rem, 3vw, 2.25rem);
  letter-spacing: 0.028em;
  line-height: 1.278;
}

/*===========================================================================================
        Helper
=============================================================================================*/
.mobile-only {
  display: none;
}

/*===========================================================================================
        Header
=============================================================================================*/
header {
  top: 0;
  left: 0;
  padding: 2.5rem var(--content-padding) 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  position: fixed;
  width: 100%;
  overflow: hidden;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 2.875rem;
}

nav ul li {
  overflow: hidden;
}

.nav-element {
  padding: 0.5rem;
  display: flex;
  position: relative;
}

.nav-element::after {
  content: '';
  background-color: var(--txt-default);
  width: 0;
  height: 0.125em;
  position: absolute;
  bottom: 0.35rem;
  transition: 200ms cubic-bezier(.59,.24,.4,1);
  transition-delay: 100ms;
}

.nav-element:hover::after {
  width: 100%;
  transition-delay: 0ms;
}

.logo {
  padding: 0.5rem 0.5rem 0.5rem 0;
}

#menu-icon {
  aspect-ratio: 1 / 1;
  border: none;
  background: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

#menu-icon svg rect {
  transition: all 0.2s ease-out;
}

#menu-icon:hover svg rect {
  width: 100%;
}

/*===========================================================================================
        Media Query
=============================================================================================*/
@media screen and (max-width: 1300px) {
  .mobile-only {
    display: block;
  }

  nav {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transform: translateY(-100%);
    overflow: hidden;
  }

  .menu-transition {
    transition: transform 0.5s cubic-bezier(.72,.04,.34,1.01);
  }

  .menu-open {
    transform: translateY(0);
  }

  .menu-open .nav-element {
    transform: translateY(0);
    transition-delay: 0.4s;
  }

  nav ul {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background: linear-gradient(0deg, var(--darkblue), var(--clr-primary));
    padding: 2rem;
    gap: 0;
  }

  .nav-element {
    display: flex;
    justify-content: center;
    font-size: 3.5rem;
    text-align: center;
    transform: translateY(100%);
    transition: transform 0.5s cubic-bezier(.41,.18,.29,1)
  }

  .scroll-down {
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 1000px) {
  :root {
    --content-padding: 2.5rem;
  }
}




