* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-dark);
}

:root {
  --bg-dark: #02070D;
  --darkgray: #071226;
  --darkblue: #363E59;
  --clr-primary: #A66A74;
  --clr-primary-hover: #86565e;
  --orange: #D99D8F;

  --txt-primary: #FFFFFF;
  --txt-default: #E2E2E2;
  --txt-gray: #828c96;

  --error: #e33333;

  --content-padding: 8.75rem;
  --time-animation: 0.8s;
}

/*===========================================================================================
        Font Definitions
=============================================================================================*/
h1, h2, h3, h4, h5, h6, p, span, li, button, a, label, input, select, textarea {
  font-family: 'futura-pt', sans-serif;
  color: var(--txt-default);
}

a {
  text-decoration: none;
}

.nav-element, .logo {
  font-weight: 500;
  font-size: clamp(1rem, 5vw, 1.5rem);
  letter-spacing: 0.08em;
  line-height: 1.292;
}

h1 {
  font-size: clamp(3rem, 10vw, 7.5rem);
  line-height: 1;
  letter-spacing: 0.1em;
  white-space: nowrap;
}

h1:has( + p) {
  margin-bottom: clamp(0.5rem, 2vw, 1rem);
}

h2 {
  font-size: clamp(2.25rem, 7vw, 3.75rem);
  letter-spacing: 0.2em;
  line-height: 1.2;
  text-transform: uppercase;
  white-space: nowrap;
  margin-bottom: 2.4em;
  font-weight: 500;
}

.sub-header {
  font-size: clamp(1.125rem, 4vw, 1.75rem);
  line-height: 130%;
}

.sub-header:has( + .sub-header) {
  margin-bottom: 1em;
}

h3 {
  font-weight: 500;
  font-size: clamp(1.75rem, 4.5vw, 2rem);
  line-height: 1.2;
}

h3:has( + p) {
  margin-bottom: 0.7em;
}

p {
  font-size: clamp(1rem, 2vw, 1.125rem);
  line-height: 1.5rem;
  word-wrap: break-word;
  white-space: normal;
  opacity: 0.7;
}

/*===========================================================================================
        Helper
=============================================================================================*/
.mobile-only {
  display: none;
}

.btn {
  border: none;
  border-radius: 0.125rem;
  cursor: pointer;
  position: relative;
  transition: 0.2s ease-in-out;

  font-size: clamp(0.875rem, 2.5vw, 1.5rem);
  padding: clamp(0.625rem, 2vw, 1rem) clamp(1.25rem, 5vw, 2.5rem);
  margin-top: clamp(1rem, 3vw, 1.875rem);
  aspect-ratio: 3 / 1;
}

.btn:has(a) {
  padding: 0;
}

.btn a {
  padding: clamp(0.625rem, 2vw, 1rem) clamp(1.25rem, 5vw, 2.5rem);
  width: 100%;
  height: 100%;
}

.btn-primary {
  background-color: var(--clr-primary);
}

.btn-primary:hover {
  background-color: var(--clr-primary-hover);
}

.form-control {
  display: block;
  width: 100%;
  height: calc(2.25em + 0.125rem);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  background-color: rgba(255, 255, 255, 0.1);
  background-clip: padding-box;
  border: none;
  border-radius: 0.125rem;
  transition: color 0.15s;
  color: rgba(255, 255, 255, 0.5);
}

select * {
  color: var(--darkgray);
}

.form-control:focus {
  outline: 0.063rem solid rgba(255, 255, 255, 0.3);
  color: var(--txt-primary);
}

textarea.form-control {
  height: auto;
  resize: vertical;
}

.form-control__errors {
  margin-top: 0.3rem;
  display: flex;
  gap: 0.375rem;
  flex-direction: column;
}

.form-control__errors li {
  color: var(--error);
}

label {
  display: block;
  width: fit-content;
  border: none;
  border-radius: 0;
  padding: 0 0.375rem 0.375rem 0.375rem;
  white-space: nowrap;
  cursor: pointer;
  opacity: 50%;
}

/*===========================================================================================
        Header
=============================================================================================*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2.5rem var(--content-padding) 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 2.875rem;
}

nav ul li {
  overflow: hidden;
}

.nav-element {
  padding: 0.5rem;
  display: flex;
  position: relative;
}

.nav-element::after {
  content: '';
  background-color: var(--txt-default);
  width: 0;
  height: 0.125em;
  position: absolute;
  bottom: 0.35rem;
  transition: 200ms cubic-bezier(.59,.24,.4,1);
  transition-delay: 100ms;
}

.nav-element:hover::after {
  width: 100%;
  transition-delay: 0ms;
}

.logo {
  padding: 0.5rem 0.5rem 0.5rem 0;
}

#menu-icon {
  aspect-ratio: 1 / 1;
  border: none;
  background: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

#menu-icon svg {
  width: 2.375rem;
  height: 1.875rem;
}

#menu-icon svg rect {
  transition: all 0.2s ease-out;
}

#menu-icon:hover svg rect {
  width: 100%;
}

/*===========================================================================================
        Media Query
=============================================================================================*/
@media screen and (max-width: 1300px) {
  .mobile-only {
    display: block;
  }

  nav {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transform: translateY(-100%);
    overflow: hidden;
  }

  .menu-transition {
    transition: transform 0.5s cubic-bezier(.72,.04,.34,1.01);
  }

  .menu-open {
    transform: translateY(0);
  }

  .menu-open .nav-element {
    transform: translateY(0);
    transition-delay: 0.4s;
  }

  nav ul {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background: linear-gradient(0deg, var(--darkblue), var(--clr-primary));
    padding: 2rem;
    gap: 0;
  }

  .nav-element {
    display: flex;
    justify-content: center;
    font-size: 3.5rem;
    text-align: center;
    transform: translateY(100%);
    transition: transform 0.5s cubic-bezier(.41,.18,.29,1)
  }
}

@media screen and (max-width: 1000px) {
  :root {
    --content-padding: 2.5rem;
  }

  /*************** Font Definitions ***************/
  h5 {
    color: var(--txt-default)
  }

  p {
    line-height: 1.375rem;
  }

  /*************** Helper ***************/
  .form-control, label, .form-control__errors li {
    font-size: 0.625rem;
  }

  /*************** Header ***************/
  header {
    padding: 1rem var(--content-padding) 0;
  }
}

@media screen and (max-width: 576px) {
  :root {
    --content-padding: 2.5rem;
  }

  p {
    line-height: 1.25rem;
  }

  /*************** Header ***************/
  header {
    padding: 1rem var(--content-padding) 0;
  }

  #menu-icon svg {
    width: 1.25rem;
    height: 1rem;
  }
}
