:root {
  --about-padding: 12.5rem;
  --line-base-width: 9.5rem;
}

body {
  margin: 0;
  overflow-y: hidden;
}

/*===========================================================================================
        Fonts
=============================================================================================*/
h1::before, h2::before {
  content: '';
  height: 0.125rem;
  background-color: var(--clr-primary);
  position: absolute;
  bottom: 50%;
  left: 0;
}

h1, h2 {
  position: relative;
}

/*===========================================================================================
        Background
=============================================================================================*/
.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 0.625rem;
}

.stars, .planet, .planet2 {
  position: absolute;
  z-index: -1;
  user-select: none;
  pointer-events: none;
  overflow: visible;
}

.planet {
  top: 0;
  transform: translate(300vw, 200vh) translateZ(-4.375rem) scale(5);
  aspect-ratio: 1 / 1;
  width: max(150vh, 100vw);
  opacity: 40%;
}

.stars {
  top: 200vh;
  transform: translateZ(-2rem) scale(4);
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

/*===========================================================================================
        Header Lines
=============================================================================================*/
.contact h1::before {
  width: var(--line-base-width);
  background-color: var(--clr-primary);
  transform: translateX(calc(var(--about-padding) * -1));
}

.experience h2 {
  margin-left: var(--about-padding);
}

.experience h2::before {
  width: calc(var(--line-base-width) + var(--about-padding));
  transform: translateX(calc(var(--about-padding) * -2));
}

.blog h2 {
  margin-left: calc(var(--about-padding) * 2);
}

.blog h2::before {
  width: calc(var(--line-base-width) + var(--about-padding) * 2);
  transform: translateX(calc(var(--about-padding) * -3));
}


.socials h2 {
  margin-left: calc(var(--about-padding) * 3);
}

.socials h2::before {
  width: calc(var(--line-base-width) + var(--about-padding) * 3);
  transform: translateX(calc(var(--about-padding) * -4));
}

/*===========================================================================================
        Hero
=============================================================================================*/
.hero {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
  margin-bottom: 10vh;
  overflow: hidden;
}

.hero__image {
  height: 100%;
  min-width: max(25rem, 30vw);
  background-color: var(--orange);
}

.hero__image:nth-child(odd) {
  min-width: max(47rem, 40vw);
  background-color: var(--clr-primary);
}

.content-section {
  display: flex;
  margin: 0 var(--about-padding) clamp(9.375rem, 20vw, 20rem);
}

/*===========================================================================================
        About Me
=============================================================================================*/
.contact {
  justify-content: flex-start;
  flex-wrap: wrap;
  column-gap: 5rem;
  row-gap: 3rem;
}

.contact__image-container {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.contact__image {
  min-width: 18.75rem;
  max-width: 25vw;
  width: 100%;
  height: 55vh;
  max-height: 31.25rem;
  background: none;
}

.contact__image img {
  border-radius: 0.125rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  box-shadow: rgba(7, 18, 38, 0.4) 5px 5px, rgba(7, 18, 38, 0.3)10px 10px, rgba(7, 18, 38, 0.2) 15px 15px, rgba(7, 18, 38, 0.1) 20px 20px, rgba(7, 18, 38, 0.05) 25px 25px;
}

/*===========================================================================================
        Experience
=============================================================================================*/
.experience {
  display: flex;
  flex-direction: column;
}

.experience-list {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2.75rem;
}

.experience-list__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 22rem;
  text-align: center;
  flex: 1;
}

.experience-list__card.active {
  transform: translateY(0);
  opacity: 1;
}

.card-image {
  width: 8rem;
  aspect-ratio: 1 / 1;
  margin-bottom: 2rem;
}

.card-image img {
  width: 100%;
  height: 100%;

  aspect-ratio: 1 / 1;
  object-fit: contain;
  object-position: center;
  color: white;
}


/*===========================================================================================
        Blog
=============================================================================================*/
.blog {
  display: flex;
  flex-direction: column;
}

.blog__content {
  display: flex;
  gap: 12.5rem;
}

.blog__description {
  display: flex;
  flex-direction: column;
}

.blog__description .btn {
  width: fit-content;
}

.blog__description-icon {
  background: #60689a;
  width: 4.75rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  margin-bottom: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.25rem;
}

.blog__description p {
  width: 20rem;
  margin-bottom: max(1.25rem, 0.4em);
}

.blog__posts {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 3rem;
}

.blog-post {
  border-bottom: 0.063rem solid #707070;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 2rem;
  gap: 4.75rem;
  cursor: pointer;
}

.blog-post__image {
  width: 12.5rem;
  height: 8.5rem;
}

.blog-post__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.blog-post__text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blog-category {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 1.125rem;
  font-weight: 500;
}

.blog-header {
  font-size: 1.5rem;
}

/*===========================================================================================
        Socials
=============================================================================================*/
.socials {
  display: flex;
  flex-direction: column;
}

/*===========================================================================================
        Media Queries
=============================================================================================*/
@media screen and (max-width: 1350px) {
  /*************** Blog ***************/
  .blog__content {
    flex-direction: column;
    align-items: center;
    gap: clamp(6rem, 10vw, 8rem);
  }

  .blog__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .blog__description .btn {
    margin-top: unset;
  }

  .blog__description-icon {
    margin-bottom: 1.5rem;
  }

  .blog__description p {
    width: unset;
    max-width: 31.25rem;
  }
}

@media screen and (max-width: 1150px) {
  :root {
    --about-padding: 6.25rem;
    --line-base-width: 3.25rem;
  }

  /*************** Experience ***************/
  .card-image {
    width: 7.75rem;
  }
}

@media screen and (max-width: 800px) {
  /*************** Experience ***************/
  .experience-list {
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }
}

@media screen and (max-width: 700px) {
  :root {
    --about-padding: 3.25rem;
    --line-base-width: 1.5rem;
  }

  /*************** About me ***************/
  .contact__image {
    max-width: unset;
    min-width: unset;
    max-height: 22.5rem;
  }

  /*************** Blog ***************/
  .blog__posts {
    gap: 3rem;
  }

  .blog-post {
    flex-direction: column;
    gap: 0;
    text-align: center;
    padding-bottom: 2rem;
  }

  .blog-post__text {
    padding-top: 1rem;
  }
}

@media screen and (max-width: 420px) {
  .card-image {
    margin-bottom: 1rem;
  }
}