.image-wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  z-index: -1;
}

.planet__blue {
  z-index: -1;
  position: absolute;
  opacity: 0.7;
  transform: rotate(30deg) translate(-40%, -40%);

  width: max(18.75rem, 40vw);
  aspect-ratio: 1 / 1;
  top: 0;
  left: 0;
  overflow: hidden;
}

.planet__orange {
  position: absolute;
  bottom: 0;
  right: 0;
  width: max(15.75rem, 30vw);
  aspect-ratio: 1 / 1;
  opacity: 0.7;
  z-index: -1;
  transform: rotate(30deg) translate(50%, 50%);
}

.content-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
}

.header {
  height: fit-content;
  align-self: flex-end;
  width: 40%;
}

.content-section {
  display: flex;
  padding: 9.5rem 0 9.5rem var(--content-padding);
  width: 100%;
}

.content-section:last-child {
  flex-grow: 1;
  margin: 0;
}

.contact-form {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.quest-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: max-content;
}

.quest__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 25rem;
}

.quest__panel {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  opacity: 0;
  visibility: hidden;
  height: 0;
}

.quest__panel.active {
  height: 100%;
  opacity: 1;
  visibility: visible;
}

.btn-row {
  margin-top: 3.75rem;
  display: flex;
  justify-content: flex-end;
  gap: 1.625rem;
  height: 3.25rem;
  width: 100%;
}

.btn-row .btn {
  flex-grow: 1;
  padding: 0;
  margin: 0;
  font-size: 1.25rem;
  display: none;
}

.btn-row .btn.active {
  display: block;
}

.quest-steps {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-left: 2px solid var(--clr-primary);
  gap: 3.75rem;
  padding: 1.5rem 0 1.5rem 2.25rem;
}

.quest-steps__link {
  font-size: 1.5rem;
  cursor: pointer;
}

.quest-steps__link.active {
  color: var(--clr-primary);
}


/*===========================================================================================
        Media Queries
=============================================================================================*/
@media screen and (max-width: 1500px) {
  .content-wrapper {
    flex-direction: column;
    padding: 0 var(--content-padding);
  }

  .content-section {
    padding: unset;
    margin-bottom: 20vh !important;
  }

  .content-section:last-child {
    padding-bottom: 20vh;
  }

  h1 {
    margin-top: 20vh;
  }
}

@media screen and (max-width: 875px) {
  .quest-container {
    flex-direction: column-reverse;
  }

  .quest-steps {
    flex-direction: row;
    padding: 0 0 0.75rem 0;
    border-left: unset;
    border-bottom: 0.125rem solid var(--clr-primary);
    gap: 8vw;
    margin-bottom: 8vh;
  }
}