/*===========================================================================================
        Background
=============================================================================================*/
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-dark);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stars {
  --x: 0;
  --y: 0;
  transform: translate(var(--x), var(--y));
  position: fixed;
  overflow: visible;
  width: 100%;
  height: 100%;
  user-select: none;
  pointer-events: none;
}

.planet {
  position: fixed;
  border-radius: 50%;
  opacity: 0;

  --top-default: inherit;
  --right-default: inherit;
  --bottom-default: inherit;
  --left-default: inherit;

  width: var(--diameter);
  height: var(--diameter);
  top: var(--top-default);
  right: var(--right-default);
  bottom: var(--bottom-default);
  left: var(--left-default);

  animation: planetSlideIn;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.59,.24,.4,1);
}

@keyframes planetSlideIn {
  from {
    transform: translate(70%);
  }

  to {
    opacity: 50%;
    transform: translate(0);
  }
}

@keyframes planetAnimation {
  0% {
    border-radius: 50%;
    opacity: 50%;
  }

  40% {
    opacity: 100%;
  }

  100% {
    border-radius: 0;
    opacity: 100%;
    top: var(--top-opened);
    right: var(--right-opened);
    bottom: var(--bottom-opened);
    left: var(--left-opened);
    width: var(--width-opened);
    height: var(--height-opened);
  }
}

@keyframes planetAnimationReverse {
  0% {
    border-radius: 0;
    opacity: 100%;
    top: var(--top-opened);
    right: var(--right-opened);
    bottom: var(--bottom-opened);
    left: var(--left-opened);
    width: var(--width-opened);
    height: var(--height-opened);
  }

  60% {
    opacity: 100%;
  }

  100% {
    opacity: 50%;
    top: var(--top-default);
    right: var(--right-default);
    bottom: var(--bottom-default);
    left: var(--left-default);
    width: var(--diameter);
    height: var(--diameter);
  }
}

/*===========================================================================================
        About Me / Planet Blue
=============================================================================================*/
.planet__blue {
  --diameter: clamp(700vw, 800vw, 1000vw);
  --top-default: max(-20vh, calc(-20vh + ((1200px - 100vw) * 0.15)));
  --left-default: min(10vw, calc(-60vw + (100vw - 375px)));

  background-color: #363E59;
  min-width: 31.25rem;
  max-width: 47vw;
  min-height: 31.25rem;
  max-height: 47vw;
  animation-duration: 0.8s;
}

/*===========================================================================================
        Contact Me / Planet Orange
=============================================================================================*/
.planet__orange {
  --diameter: clamp(31.25rem, 60vw, 37.5rem);
  --top-default: -23.75rem;
  --right-default: -21.875rem;

  background-color: #D89D8F;
  animation-duration: 1s;
}

/*===========================================================================================
        My Portfolio / Planet Red
=============================================================================================*/
.planet__red {
  --diameter: clamp(62.5rem, 150vw, 80rem);
  --top-default: inherit;
  --right-default: -18.75rem;
  --bottom-default: -56.25rem;
  --left-default: inherit;

  background-color: #A66A74;
  animation-duration: 1s;
  animation-delay: 0.2s;

  --top-opened: inherit;
  --right-opened: 0;
  --bottom-opened: 0;
  --left-opened: inherit;
  --width-opened: 55vw;
  --height-opened: 100%;
}

.planet__red.active {
  animation: planetAnimation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.72,.04,.34,1.01);
}

.planet__red.unselect {
  animation: planetAnimationReverse;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.72,.04,.34,1.01);
}

/*===========================================================================================
        Content Section
=============================================================================================*/
.content-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.content-section .hero {
  z-index: 2;
  margin: 0 var(--content-padding);
  width: fit-content;
  position: relative;
  overflow: hidden;
}

.hero *:not(.side-container) {
  transform: translateX(-100%);
}

.hero.active * {
  transform: translateX(0);
}

.hero h5 {
  transition: transform 1s cubic-bezier(.59,.24,.4,1);
  transition-delay: 0.6s;
}

.hero h1 {
  transition: transform 0.8s cubic-bezier(.59,.24,.4,1);
  transition-delay: 0.6s;
}

.hero p {
  transition: transform 0.8s cubic-bezier(.59,.24,.4,1);
  transition-delay: 0.8s;
}

.hero button {
  transition: transform 0.8s cubic-bezier(.59,.24,.4,1);
  transition-delay: 1s;
}

.content-section .side-container {
  width: 60vw;
  height: 100vh;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-container .side-container__content {
  width: 70%;
  height: 70%;
  transform: scale(85%) translateX(10%);
  transition: transform 1.5s cubic-bezier(.16,.16,.53,.99);
}

.side-container .side-container__content.active {
  transform: scale(1) translateX(0);
}

/*===========================================================================================
        Side-Content - Projects
=============================================================================================*/
.side-container .projects {
  background: var(--clr-primary);
}

/*===========================================================================================
        Side-Content - About
=============================================================================================*/
.side-container .about {
  background: var(--darkblue);
}

/*===========================================================================================
        Side-Content - Contact
=============================================================================================*/
.side-container .contact {
  background: var(--orange);
  padding: 60px 5vw 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quest {
  width: 100%;
  height: 100%;
}

.quest__progress {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.quest__progress-btn {
  transition-property: all;
  transition-duration: .15s;
  transition-timing-function: linear;
  transition-delay: 0s;

  position: relative;
  padding-top: 20px;
  color: rgba(108, 117, 125, 0.7);
  text-indent: -9999px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
}

.quest__progress-btn::before {
  position: absolute;
  top: 0;
  left: 50%;
  right: unset;
  bottom: unset;

  display: block;
  width: 13px;
  height: 13px;

  content: '';

  transform: translateX(-50%);

  transition: all .15s linear 0s,
  transform .15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;

  border: 2px solid currentColor;
  border-radius: 50%;
  background-color: #fff;

  box-sizing: border-box;

  z-index: 3;
}

.quest__progress-btn::after {
  position: absolute;
  top: 5px;
  left: calc(-50% - 13px / 2);
  right: unset;
  bottom: unset;
  transition-property: all;
  transition-duration: .15s;
  transition-timing-function: linear;
  transition-delay: 0s;

  display: block;
  width: 100%;
  height: 2px;

  content: '';

  background-color: currentColor;

  z-index: 1;
}

.quest__progress-btn:first-child::after {
  display: none;
}

.quest__progress-btn.active {
  color: var(--clr-primary);
}

.quest__progress-btn.error {
  color: var(--error);
}

.quest__progress-btn.active:before {
  transform: translateX(-50%) scale(1.2);

  background-color: currentColor;
}

@media (min-width: 500px) {
  .quest__progress-btn {
    text-indent: 0;
  }
}

.quest__form {
  position: relative;
}

.quest__panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.quest__panel.active {
  height: auto;
  opacity: 1;
  visibility: visible;
}
/*===========================================================================================
        Scroll Down CTA
=============================================================================================*/
.scroll-down {
  width: 12.5rem;
  height: 2.25rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  bottom: var(--content-padding);
  left: 0;
  gap: 0.5rem;
  cursor: pointer;
}

.scroll-down span {
  position: relative;
}

.scroll-down__background {
  position: absolute;
  width: 150%;
  height: 100%;
  background-color: var(--clr-primary);
  transition: 500ms cubic-bezier(.59,.24,.4,1);
  transform: translateX(-3.375rem);
}

.scroll-down:hover .scroll-down__background {
  transform: translateX(1.25rem);
}

/*===========================================================================================
        Media Queries
=============================================================================================*/
@media screen and (max-width: 1000px) {
  .content-section {
    flex-direction: column-reverse;
  }

  .content-section .side-container {
    position: unset;
    width: 100%;
    height: 55vh;
  }
}